# Profile 3 — office preset (3 stages 1000→3000)
polling = 1000
sleep   = 90

dpi.active = 2
dpi.count  = 3
dpi.stage[0] = 1000/1000  #00FF00  flag=ff
dpi.stage[1] = 2000/2000  #00FFFF  flag=ff
dpi.stage[2] = 3000/3000  #FFFFFF  flag=ff
dpi.stage[3] = 3200/3200  #FFFFFF  flag=ff
dpi.stage[4] = 5000/5000  #FFFFFF  flag=ff
dpi.stage[5] = 6000/6000  #FFFFFF  flag=ff

button[0 left]       = mouse 01 00
button[1 right]      = mouse 02 00
button[2 wheel]      = mouse 04 00
button[3 back-side]  = mouse 08 00
button[4 front-side] = mouse 10 00
button[5 dpi-key]    = dpi 01 00
