# Profile 1 — original / default
polling = 1000
sleep   = 900
move.wakeup = 1

dpi.active = 0
dpi.count  = 6
dpi.stage[0] = 800/800  #FF0000  flag=00
dpi.stage[1] = 1600/1600  #00FF00  flag=00
dpi.stage[2] = 2400/2400  #0000FF  flag=00
dpi.stage[3] = 3200/3200  #FF00FF  flag=00
dpi.stage[4] = 6500/6500  #FFFF00  flag=00
dpi.stage[5] = 10000/10000  #00FFFF  flag=00

# slot   action   p1   p2
button[0 left]       = mouse 01 00
button[1 right]      = mouse 02 00
button[2 wheel]      = mouse 04 00
button[3 back-side]  = mouse 08 00
button[4 front-side] = mouse 10 00
button[5 dpi-key]    = dpi 01 00
