# Profile 1 — original / default
polling = 1000
light.mode = 2
sleep   = 90

dpi.active = 0
dpi.count  = 5
dpi.stage[0] = 1200/1200  #FF0000  flag=ff
dpi.stage[1] = 1600/1600  #FFFF00  flag=ff
dpi.stage[2] = 2400/2400  #FFFF00  flag=ff
dpi.stage[3] = 3200/3200  #FFFF00  flag=ff
dpi.stage[4] = 5200/5200  #000000  flag=ff
dpi.stage[5] = 6000/6000  #000000  flag=ff

# slot   action   p1   p2
button[0 left]       = mouse 01 00
button[1 right]      = mouse 02 00
button[2 wheel]      = mouse 04 00
button[3 back-side]  = mouse 08 00
button[4 front-side] = mouse 10 00
button[5 dpi-key]    = dpi 01 00
