# Profile 2 — FPS preset (5 stages 5000→1000)
polling = 1000
sleep   = 900
move.wakeup = 1

dpi.active = 4
dpi.count  = 5
dpi.stage[0] = 5000/5000  #FF0000  flag=ff
dpi.stage[1] = 4000/4000  #FF8000  flag=ff
dpi.stage[2] = 3000/3000  #FFFF00  flag=ff
dpi.stage[3] = 2000/2000  #00FF00  flag=ff
dpi.stage[4] = 1000/1000  #0000FF  flag=ff
dpi.stage[5] = 6000/6000  #FFFFFF  flag=ff

button[0 left]       = mouse 01 00
button[1 right]      = mouse 02 00
button[2 wheel]      = mouse 04 00
button[3 back-side]  = mouse 08 00
button[4 front-side] = mouse 10 00
button[5 dpi-key]    = dpi 01 00
